.title {
  text-align: center;
}

.new-form {
  width: 50%;
  margin: 0 auto;
}

.loading {
  text-align: center;
}

.news {
  width: 50%;
  margin: 0 auto;
  padding-top: 1%;
}

.each-new {
  margin: 0 auto;
  padding-top: 4%;
}
